html{
    padding-left: 5vw;
    background-color: #e6dfdf;
}

body {
    padding: 4vw;
    position:center;
    height: 37vw;
    width: 60vw;
    border: 0.5vw solid red;
    border-radius: 0.8vw;
    text-align: start;
}

.PARTE1{
    width:400px;
    height:300px;
    text-align:start; 
    float:left;
}

.PARTE2{
    width: 400px;
    height: 240px;
    text-align: start;
    float:right;
}

a{
    display:block;
    text-align:bottom;
    color:white;
}

button{
    
    margin-left:300px;
    margin-top:440px;
    max-height: 40px;
    max-width: 150px;
    height:40px;
    width:150px;
    display:block;
    float:bottom;
    border-radius: 5px;
    background-color: green;
    cursor: pointer;
}